<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="include::include"></div>
	<script src="./static/js/common/component-pager.js"></script>
	<script src="./static/js/common/component-table.js"></script>
	<link href="./static/css/class/classCommon.css" rel="stylesheet" />
	<script src="./static/js/class/classInfoManage.js"></script>
</head>
<body>
	<div id="app">
		<div class="col-md-12 content table-content load-indicator" :class="isLoading?'loading':''" data-loading="正在加载">
			<div class="panel">
				<div class="panel-heading">
					<!-- 头部开始 -->
					<div id="top-div">
						<!-- 搜索开始 -->
						<div class="input-group search-div">
							<input type="text" class="form-control" id="keyword" placeholder="请输入关键词" />
							<span class="input-group-btn">
								<button class="btn btn-primary" @click="search">搜索</button>
								<button class="btn btn-default" @click="reset">重置</button>
								<button class="btn btn-success" @click="add">发布班级消息</button>
							</span>
						</div>
						<!-- 搜索结束 -->
					</div>
					<!-- 头部结束 -->
				</div>
				<div class="panel-body">
					<!-- 列表开始 -->
					<div style="height:100%;overflow:auto;">
						<div v-if="classInfos && classInfos.length > 0" class="list list-condensed">
							<div class="items items-hover">
								<div v-for="c in classInfos" class="item" style="text-align:left;">
									<div class="item-heading">
										<div class="pull-right">
											<button @click="updateItem(c)" class="btn btn-xs btn-primary"><i class="icon icon-pencil"></i>编辑</button>
											<button @click="deleteItem(c.id)" class="btn btn-xs btn-danger"><i class="icon icon-times"></i>删除</button>
										</div>
										<h4><a href="#">{{c.title}}</a></h4>
									</div>
									<div class="item-content">
										<div class="text">{{c.content}}</div>
									</div>
									<div class="item-footer">
										<a href="#" class="text-muted"><span class="text-muted">{{c.createtime}}</span>&nbsp;&nbsp;by&nbsp;&nbsp;<span>{{c.name}}</span></a>
									</div>
								</div>
							</div>
						</div>
						<div v-if="classInfos && classInfos.length == 0" style="color:#999;padding:15px;line-height:100px;text-align:center;">
							暂无数据
						</div>
					</div>
					<!-- 列表结束 -->
				</div>
				<div class="panel-footer">
					<!-- 分页开始 -->
					<component-pager v-bind.sync="pagination" v-on:list="list"></component-pager>
					<!-- 分页结束 -->
				</div>
			</div>
		</div>
		
		<!-- 发布班级消息框开始 -->
		<div class="modal fade" id="classInfoModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only">关闭</span></button>
						<h4 class="modal-title">填写班级消息</h4>
					</div>
					<div class="modal-body">
						<div class="content">
							<div class="form-horizontal">
								<div class="form-group">
									<label for="title" class="col-sm-2 required">留言主题</label>
									<div class="col-sm-9">
										<input class="form-control" v-model="classInfo4Add.title" id="title" placeholder="消息主题">
									</div>
								</div>
								<div class="form-group">
									<label for="content" class="col-sm-2 required">留言内容</label>
									<div class="col-sm-9">
										<textarea class="form-control" id="content" v-model="classInfo4Add.content" placeholder="消息内容"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-default" data-dismiss="modal">关闭</button>
						<button class="btn btn-primary" @click="submit">发表</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 发布班级消息框结束 -->
	</div>
</body>
</html>