<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="include::include"></div>
	<script src="./static/js/common/component-pager.js"></script>
	<script src="./static/js/common/component-table.js"></script>
	<link href="./static/css/class/classCommon.css" rel="stylesheet" />
	<script src="./static/js/class/addressBookManage.js"></script>
</head>
<body>
	<div id="app">
		<div class="col-md-12 content table-content load-indicator" :class="isLoading?'loading':''" data-loading="正在加载">
			<div class="panel">
				<div class="panel-heading">
					<!-- 头部开始 -->
					<div id="top-div">
						<!-- 搜索开始 -->
						<div class="input-group search-div">
							<input type="text" class="form-control" id="keyword" placeholder="请输入关键词" />
							<span class="input-group-btn">
								<button class="btn btn-primary" @click="search">搜索</button>
								<button class="btn btn-default" @click="reset">重置</button>
								<button class="btn btn-success" @click="addEdit">新增</button>
							</span>
						</div>
						<!-- 搜索结束 -->
					</div>
					<!-- 头部结束 -->
				</div>
				<div class="panel-body">
					<!-- 表格开始 -->
					<div style="height:100%;overflow:auto;">
						<table class="table table-hover table-striped" style="margin:0px;">
							<thead>
								<tr>
									<th style="width:16px;"><div @click="checkboxAll" class="checkbox-primary checkbox-parent" style="width:16px;"><label></label></div></th>
									<th>编号</th>
									<th>学号</th>
									<th>姓名</th>
									<th>籍贯</th>
									<th>电话</th>
									<th>QQ</th>
									<th>家庭地址</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr v-if="addressBooks && addressBooks.length > 0" v-for="a in addressBooks">
									<td style="width:16px;"><div class="checkbox" class="checkbox-primary checkbox-children" style="width:16px;" :data-id="a.id"><label></label></div></td>
									<td>{{a.id}}</td>
									<td>{{a.studyNumber}}</td>
									<td>{{a.name}}</td>
									<td>{{a.nativePlace}}</td>
									<td>{{a.phone}}</td>
									<td>{{a.qqNumber}}</td>
									<td>{{a.address}}</td>
									<td>
										<button class="btn btn-xs btn-primary" @click="updateEdit(a)"><i class="icon icon-pencil"></i></button>
										<button class="btn btn-xs btn-danger" @click="deleteItem(a.id)"><i class="icon icon-trash"></i></button>
									</td>
								</tr>
								<tr v-if="addressBooks && addressBooks.length == 0">
									<td colspan="9" align="center" style="text-align:center;">暂无数据</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- 表格结束 -->
				</div>
				<div class="panel-footer">
					<!-- 分页组件开始 -->
					<component-pager v-bind.sync="pagination" v-on:list="list"></component-pager>
					<!-- 分页组件结束 -->
				</div>
			</div>
		</div>
		
		<!-- 编辑/新增框开始 -->
		<div class="edit-panel-div" :class="isEditShow?'active':''">
			<div class="edit-panel-div-title">
				{{editTitle}}
				<i class="icon icon-times" @click="cancel"></i>
			</div>
			<div class="edit-panel-div-content form-horizontal">
				<div class="form-group">
					<label for="studyNumber" class="col-sm-3 required">学号</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="addressBook4Add.studyNumber" id="studyNumber" placeholder="学号" />
					</div>
				</div>
				<div class="form-group">
					<label for="name" class="col-sm-3 required">姓名</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="addressBook4Add.name" id="name" placeholder="姓名" />
					</div>
				</div>
				<div class="form-group">
					<label for="nativePlace" class="col-sm-3 required">籍贯</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="addressBook4Add.nativePlace" id="nativePlace" placeholder="籍贯" />
					</div>
				</div>
				<div class="form-group">
					<label for="phone" class="col-sm-3 required">电话</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="addressBook4Add.phone" id="phone" placeholder="电话" />
					</div>
				</div>
				<div class="form-group">
					<label for="qqNumber" class="col-sm-3 required">QQ</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="addressBook4Add.qqNumber" id="qqNumber" placeholder="QQ" />
					</div>
				</div>
				<div class="form-group">
					<label for="address" class="col-sm-3 required">家庭地址</label>
					<div class="col-sm-9">
						<input class="form-control" v-model="addressBook4Add.address" id="address" placeholder="家庭地址" />
					</div>
				</div>
			</div>
			<div class="edit-panel-div-footer">
				<button class="btn btn-success" @click="save">保存</button>
				<button class="btn btn-default" @click="cancel">取消</button>
			</div>
		</div>
		<div class="edit-panel-div-shim" @click="cancel" :class="isEditShow?'active':''"></div>
		<!-- 编辑/新增框结束 -->
	</div>
</body>
</html>